<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="primary">
  <h3>Agenda Electrónica</h3>
  <p>
    Aplicación diseñada para la asignatura DSI que permite organizar
    tareas pendientes y contactos.
  </p>
  <p>
    La aplicación esta realizada utilizando Ionic Framework.
  </p>
  <br>
  <h4>Tu nombre</h4>
  <ion-item color="secondary">
    <ion-icon name="logo-github" color=light></ion-icon>
    <a href="">Tu GitHub</a>
  </ion-item>
  <ion-item color="secondary">
      <ion-icon name="logo-twitter" color="light"></ion-icon>
      <a href="">Tu Twitter</a>
    </ion-item>
</ion-content>
